body {
  background: blanchedalmond;
}

* {
  border: 1px solid teal;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.a {
  flex-basis: 100%;
  height: 15vh;
}

.b {
  flex: 2;
  height: 90vh;
}

.c {
  flex: 1;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .a {
    height: 15vh;
  }
  .b {
    height: 50vh;
  }
  .c {
    height: 30vh;
  }
}

